:root {
  /*paleta de colores*/
	--color-body: hsl(255, 15%, 16%);
	--color-container: hsl(224, 17%, 26%);
	--color-first: hsl(357, 56%, 37%);
	--color-alt: hsl(344, 36%, 18%);
	--color-title: hsl(224,8%,95%);
	--color-text: hsl(224, 8%, 65%);
	/*tamaño de fuente*/
	--biggest-fs: 2rem;
  --bigger-fs: 1.25rem;
  --h1-fs: 1.5rem;
  --h2-fs: 1.25rem;
  --h3-fs: 1rem;
  --normal-fs: 0.938rem;
  --small-fs: 0.813rem;
  --smaller-fs: 0.75rem;
	/*peso de fuente*/
	--font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
}
@media screen and (min-width: 1152px) {
  :root {
    --biggest-fs: 4rem;
    --bigger-fs: 2rem;
    --h1-fs: 2.25rem;
    --h2-fs: 1.5rem;
    --h3-fs: 1.25rem;
    --normal-fs: 1rem;
    --small-fs: 0.875rem;
    --smaller-fs: 0.813rem;
  }
}
