@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-body);
  color: var(--color-text);
}
li, a {
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}